{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 chrome versions",
          "last 2 firefox versions",
          "safari >= 11"
        ]
      },
      "modules": false
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}