@import '~tippy.js/dist/tippy.css'

*
  font-family: Roboto, sans-serif
  font-size: 1em

.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px  /* Preferred icon size */
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale

  /* Support for IE. */
  font-feature-settings: 'liga'

.fjs-seperator
  width: 100%
  margin: 20px 0 20px 0

.fjs-fieldset
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: flex-start
  margin: 0.4vh 0 0.4vh 0
  border: solid 1px #fff
  padding: 0.4vw

.fjs-brush
  stroke-width: 0
